@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.react-calendar__tile--now {
  background-color: #ababab !important;
  color: #0f172a !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.details {
  background-color: #DFE3E4;
}

.meeting {
  background-color: #FACC15 !important;
  color: white;
}

.start {
  background-color: #1E40AF !important;
  color: white;
}

.end {
  background-color: #166534 !important;
  color: white;
}

.legend {
  width: 25px;
  height: 25px;
}