@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.react-calendar__tile--now {
  background-color: #facc15 !important;
  color: white !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.details {
  background-color: #dfe3e4;
}

.start {
  background-color: #1e40af !important;
  color: white;
}

.end {
  background-color: #166534 !important;
  color: white;
}

.legend {
  width: 25px;
  height: 25px;
}

.disabled:disabled {
  background-color: #ababab !important;
}

.drawer {
  animation: appear 0.5s 1;
}

.negative {
  background-color: #94a3b8 !important;
  color: white !important;
  font-weight: 600 !important;
}

.inactive {
  transition: all 0.5s;
}

.active {
  opacity: 0.7;
  transform: rotate(180deg);
  transition: all 0.5s;
}

.config-button {
  scale: 1.5;
  position: absolute;
  bottom: 20px;
  left: 45%;
}

#close-drawer {
  animation: disolve 0.5s 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
    color-scheme: light;
  }
}

@keyframes appear {
  0% {
    height: 0;
  }
  100% {
    height: 16rem;
  }
}

@keyframes disolve {
  0% {
    height: 16rem;
  }
  100% {
    height: 0;
  }
}
